.back-color-hero {
  background: #ff9c7d;
}

.blue {
  background: #c9e8f2;
}

.back-color-card {
  background: #fff8e4;
}

.back-color-br {
  background: #dabc98;
}

.back-color-orange {
  margin-top: 162px;
  background: #ff9c7d;
}
