.box_buttonnss--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  @media (min-width: 1200px) {
    position: absolute;
    opacity: 0;
  }
}

.box_buttons:last-child {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  @media (min-width: 1200px) {
    visibility: visible;
    position: static;
    opacity: 1;
  }
}

.box_buttons {
  margin: 0 auto;
  opacity: 1;
  position: static;
  width: 250px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1200px) {
    margin: 0;
    opacity: 1;
    position: static;
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
}
.button-white {
  text-decoration: none;
  width: 120px;
  background: #ffffff;
  font-weight: 600;
  font-size: 16px;
  padding: 13px;
  text-align: center;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
  transition: background 0.3s ease;

  &:hover {
    color: #ff6336;
    background: black;
  }
}
.button-orange {
  text-decoration: none;
  width: 120px;
  background: #ff6336;
  font-weight: 600;
  font-size: 16px;
  padding: 13px;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s ease;

  &:hover {
    color: #000;
  }
}

.button-orange-2 {
  width: 193px;
  height: 60px;
  padding: 7px 0;
  background: #ff6336;
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 32px;
  transition: color 0.3s ease;

  &:hover {
    color: black;
  }
}

.button-black {
  width: 160px;
  height: 60px;
  background: black;
  font-weight: 600;
  font-size: 17px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 32px;
  transition: color 0.3s ease;

  &:hover {
    color: #ff6336;
  }
}
