.container-2 {
  margin-top: 60px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  .box-content {
    padding: 0 30px;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    padding: 0 30px;
  }

  span {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
  }

  span:last-child {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 25px;
  }
  @media (min-width: 1200px) {
    margin-top: 129px;
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 60px;

    .box-content {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }

    h1 {
      padding: 0;
      text-align: left;
    }
    .box-content span {
      text-align: left;
      font-weight: 400;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 50px;
    }

    .box-content span:last-child {
      font-size: 15px;
      line-height: 25px;
      margin-top: 24px;
      margin-bottom: 172px;
    }

    .box-content a {
      text-decoration: none;
    }

    .box-img {
      display: flex;
      justify-content: end;
    }
  }
}
